# Exclude Jupyter notebooks from language stats
*.ipynb linguist-detectable=false

# Exclude Markdown files from language stats (e.g., READMEs, documentation)
*.md linguist-detectable=false

# Exclude CSV datasets from language stats
*.csv linguist-detectable=false

# Exclude JSON datasets from language stats
*.json linguist-detectable=false


